.container {
  position: relative;
  top: 20px;
  left: 50px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 50px);
  height: fit-content;
  text-align: left;
}
.logo {
  position: relative;
  left: 20px;
  width: 25px;
  height: 25px;
  margin-bottom: 20px;
}
.logo:hover {
  cursor: pointer;
}
