:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: black;
  --primary-color: #9766d2;
  --secondary-color: black;
  --tertiary-color: white;
  --border-color: rgb(146, 144, 144);
  --primary-font-color: white;
  --secondary-font-color: black;
  --hover-color: #2b2a33;
  --transition-main: all 0.3s ease-in-out;
}
